## Project1

In [1]:
print("hello world")

hello world

In [2]:
#!pip install psycopg2

In [3]:
#importing modules

import psycopg2
import pandas as pd

In [4]:
#creating a connection

try:
    con = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=root")
except psycopg2.Error as e:
    print("Error is: ")
    print(e)

In [5]:
#creating a curson to execute query

try:
    cur = con.cursor()
except psycopg2.Error as e:
    print(e)

In [6]:
# adding auto commit

con.set_session(autocommit=True)

In [7]:
#creating a database as test

try:
    cur.execute("create database test")
except psycopg2.Error as e:
    print(e)

database "test" already exists

# Creating a table
id
name
age
gender

In [8]:
#create a tabke called person with above details

try:
    cur.execute("CREATE TABLE IF NOT EXISTS person (id int, name varchar, age int, gender varchar);")
except psycopg2.Error as e:
    print("Error is: ")
    print(e)

In [9]:
# inserting data into it

try:
    cur.execute("insert into person (id , name , age , gender ) VALUES (%s,%s,%s,%s)",\
                (1,"musaif",25,"male"))
except psycopg2.Error as e:
    print("Error is: ")
    print(e)

try:
    cur.execute("insert into person (id , name , age , gender ) VALUES (%s,%s,%s,%s)",\
                (2,"Aleem",26,"male"))
except psycopg2.Error as e:
    print("Error is: ")
    print(e)

In [10]:
#fecting the data from our ta

try:
    cur.execute("SELECT * FROM person")
except psycopg2.Error as e:
    print("Error is: ")
    print(e)

data = cur.fetchone()
while data:
    print(data)
    data = cur.fetchone()

(1, 'musaif', 25, 'male')
(2, 'Aleem', 26, 'male')

In [11]:
# Removing the inserted data from the table

try:
    cur.execute("TRUNCATE TABLE person;")
except psycopg2.Error as e:
    print(e)

In [12]:
# closing opened connection and open cursor

if cur:
    cur.close()
if con:
    con.close()